<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500 <img src="https://64.media.tumblr.com/cfa20f9738ea45c49300864a485c4a06/3307238277563ca1-ad/s250x400/ed458ec2f4efd1e29938958223eba77a0ebe488b.gif" style="height: 100px; width: auto;"></h1>
        <p class="fs-3"> <span class="text-danger" style="color: #1e7e34">Opps!</span> Error interno.</p>
        <p class="lead">
            Alguno de nuestros desarrolladores debería mirar el código.
        </p>
        <a href="/main" class="btn btn-primary">Inicio</a>
    </div>
</div>
</body>
</html>