<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Administrador habitaciones</title>

    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
</head>

<body class="bg-white">
<nav th:include="navMenuHotel"></nav>
    <header class="bg-primary bg-gradient text-white" th:style="'background-image: linear-gradient(0deg, black, transparent); background-size: cover; background-repeat: no-repeat; background-position: center center;'">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder"> <p>Administrador habitaciones</p></h1>
        </div>
    </header>
    <br>
    <br>
    <div class="row">

        <div class="col-md-8 mx-auto">

            <table class="table bg-white rounded border table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Huéspedes</th>
                    <th scope="col">Disponibles</th>
                    <th scope="col">Nº Habitaciones</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a:${listaHabitaciones}">
                    <td th:text="${a.getTipo_hab()}"></td>
                    <td th:text="${a.getMax_cliente()}"></td>
                    <td th:with="total=${a.getNum_hab() - a.getHab_ocupadas()}" th:text="${total}"></td>
                    <td th:text="${a.getNum_hab()}" > </td>
                    <td> <a th:text="Editar" class="btn btn-primary form-control text-center" style="background-color: #FFBD44; border-color: #FFBD44" th:href="@{/admin/habitaciones/editar/item?id={id}(id=${a.getId()})}"></a></td>
                    <td> <a th:text="Borrar" class="btn btn-primary form-control text-center" style="background-color: #B33F40; border-color: #B33F40" th:href="@{/admin/habitaciones/borrar/item?id={id}(id=${a.getId()})}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<br>
<br>
<br>

<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>