<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Equipo</title>

  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
  <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
</head>

<body class="bg-white">
<nav th:include="navMenu.html"></nav>
<br>
<br>
<br>

<div>
  <form action="/hastalapolla" th:object="${texto}">
    <input th:field="*{comentario}" type="text">
    <input th:field="*{puntuacion}" type="number" min="1" max="5">
    <input type="submit" value="enviar">
  </form>
</div>

<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>