<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title th:each="h: ${hotelfinal}" th:text="${h.getNombre()}"></title>

  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
  <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
  <script type="text/javascript" th:src="@{/js/fecha.js}" ></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <script type="module" src="./index.js"></script>
  <style>
    #map {
      height: 400px;
    }
  </style>
</head>

<body class="bg-white">
<nav th:include="navMenu.html"></nav>
  <div th:each="h: ${hotelfinal}">
    <header class="bg-primary bg-gradient text-white" th:style="'background-image: linear-gradient(0deg, black, transparent), url(' + ${h.getUrl_imagen_general()} + '); background-size: cover; background-repeat: no-repeat; background-position: center center;'">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Hotel <b th:text="${h.getNombre()}" id="nombreHotel"></b> </h1>
        <p class="lead"><text th:text="${h.getLocalidad()}"/> <text th:text="${h.getDireccion()}"/> </p>
        <svg th:each="i: ${#numbers.sequence(1, estrellas)}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
      </div>
    </header>
      <br>
      <br>
      <div class="row">

        <br>
        <br>

        <div class="col-md-8 mx-auto">

          <form action="/reservar" method="post" th:object="${objeto_integer}">
            <input type="hidden" name="idhotel" th:value="${h.getId()}"/>
            <table class="table table-bordered table-striped rounded">
              <thead>
                <tr>
                  <th scope="col">Entrada</th>
                  <th scope="col">Salida</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <script>setfecha()</script>
                  <td><input th:id="fecha_inicio"  class="inputbox textmuted" type="date" th:field="*{fechainicio}" th:min="${fechamin}" required></td>
                  <td><input th:id="fecha_final" class="inputbox textmuted " type="date" th:field="*{fechafin}" th:min="${fechamin}" th:onclick="cambiofecha()" required></td>
                </tr>
              </tbody>
            </table>

            <table class="table bg-white rounded border table-striped table-dark">
              <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Huéspedes</th>
                <th scope="col">Disponibles</th>
                <th scope="col">Nº Habitaciones</th>
                <th scope="col">Régimen</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="a:${listaHabitaciones}">
                <td th:text="${a.getTipo_hab()}"></td>
                <td th:text="${a.getMax_cliente()}"></td>
                <td th:with="total=${a.getNum_hab() - a.getHab_ocupadas()}" th:text="${total}"></td>
                <td> <input type="number" th:field="*{cantidadHabitaciones}"></td>
                <td><select th:field="*{tipo_regimen}">
                  <option th:each="x: ${regimen}" th:text="${x.name()}" th:value="${x.name()}"></option>
                </select></td>
              </tr>
              </tbody>
            </table>
            <button th:if="${idCliente > 0}" class="btn btn-primary form-control text-center">Reservar</button>
          </form>
        </form>
          <a th:if="${idCliente == 0 && idHotel == 0}" class="btn btn-primary form-control text-center" href="/login">Inicia sesión para reservar</a>
          <button th:if="${idCliente == 0 && idHotel > 0}" class="btn btn-primary form-control text-center">No puedes reservar siendo hotel.</button>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
  <div class="container mt-10 mb-10">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="cardd">
          <div class="p-3">
            <h6><b>Comentarios</b></h6>
          </div>

          <div th:if="${idCliente >0}" class="mt-3 d-flex flex-row align-items-center p-3 form-color" th:each="z : ${hotelfinal}">
            <img src="http://www.4x4.ec/overlandecuador/wp-content/uploads/2017/06/default-user-icon-8.jpg" width="50" class="rounded-circle mr-2">
            <form class="mt-3 d-flex flex-row align-items-center p-3 form-color" action="#" th:action="@{/comentario}" th:object="${texto}" method="post">
              <input type="text" name="texto" maxlength="70" class="form-control" placeholder="Introduce tu comentario..." style="margin-left: 20px;">
              <p  style="margin-left: 20px;" > Puntuación:</p>
              <input type="number" min="1" max="5" style="margin-left: 20px;" th:field="*{puntuacion}">
              <input style="margin-left: 20px;" type="submit" class="btn btn-primary form-control text-center">
              <input type="hidden" name="idhotel" th:value="${z.getId()}">
              <input type="hidden" name="idcliente" th:value="${idCliente}">
            </form>
          </div>

          <div th:if="${idCliente == 0} and ${idHotel == 0}" class="mt-3 d-flex flex-row align-items-center p-3 form-color">
            <img src="http://www.4x4.ec/overlandecuador/wp-content/uploads/2017/06/default-user-icon-8.jpg" width="50" class="rounded-circle mr-2">
            <b style="margin-left: 20px;" >Inicia sesión para crear un comentario.</b>
            <a  href="/login"><input style="margin-left: 20px;" th:if="${idCliente == 0}" type="button" class="btn btn-primary form-control text-center" value="Inicia sesión"></a>
          </div>

          <div th:if="${idHotel > 0}" class="mt-3 d-flex flex-row align-items-center p-3 form-color">
            <img th:src="${hotelConectado.getUrl_icono()}" width="50" height="50" class="rounded-circle mr-2">
            <b style="margin-left: 20px;" >Debes tener una cuenta como cliente para comentar.</b>
            <p th:if="${idHotel == idHotelreserva}" style="font-size: 11px; margin-left: 10px;">Pero puedes responder comentarios de clientes.</p>
          </div>

          <div class="mt-2">
            <div th:each="c : ${comentarios}" class="d-flex flex-row p-3">
              <img src="http://www.4x4.ec/overlandecuador/wp-content/uploads/2017/06/default-user-icon-8.jpg" width="40" height="40" class="rounded-circle mr-3">
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span th:text="${c.getCliente().getNombre()}" class="mr-2" style="margin-left: 10px;margin-right: 10px;"></span>
                    <svg th:each="i: ${#numbers.sequence(1, c.getPuntuacion())}" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                  </div>
                  <small th:text="${c.getFecha()}"></small>
                </div>
                <p th:text="${c.getSentencia()}" class="text-justify comment-text mb-0" style="margin-left: 10px;"> </p>

                <div class="d-flex flex-row user-feed">
                  <span th:if="${idCliente>0}">
                    <form action="/like" method="post" th:object="${objeto_integer}" style="float: left;">
                      <button style="background-color: transparent; border: transparent;"><i class="fa fa-thumbs-up mr-2" style="color: #2F4F4F"></i></button>
                      <input type="hidden" name="idcomentario" th:value="${c.getId()}">
                      <input type="hidden" name="idcliente" th:value="${idCliente}">
                      <input type="hidden" name="idhotelreserva" th:value="${idHotelreserva}">
                      <input type="hidden" name="like" th:value="1">
                      <input type="hidden" name="dislike" th:value="0">
                    </form>
                    <form action="/like" method="post" th:object="${objeto_integer}" style="float: left;">
                      <button style="background-color: transparent; border: transparent;"><i class="fa fa-thumbs-down mr-2" style="color: #B33F40;"></i></button>
                      <input type="hidden" name="idcomentario" th:value="${c.getId()}">
                      <input type="hidden" name="idcliente" th:value="${idCliente}">
                      <input type="hidden" name="idhotelreserva" th:value="${idHotelreserva}">
                      <input type="hidden" name="like" th:value="0">
                      <input type="hidden" name="dislike" th:value="1">
                    </form>
                  </span>
                  <span style="margin-left: 5px; margin-right: 5px; float: left;">Likes: <strong th:text="${c.getLikes()}"></strong></span>

                  <form th:if="${idHotel == idHotelreserva}" class="d-flex flex-row align-items-center" th:action="@{/comentario/hotel}" method="post">
                    <button type="submit" style="background-color: transparent; border: transparent; margin-left: 10px;"><i class="fa fa-reply" aria-hidden="true"></i></button>
                    <input type="hidden" name="idcomentario" th:value="${c.getId()}">
                    <input type="hidden" name="idhotel" th:value="${idHotel}">
                    <input type="hidden" name="idcliente" th:value="${c.getCliente().getId()}">
                    <input type="text" name="texto" maxlength="70" class="form-control" placeholder="Introduce tu comentario..." style="margin-left: 20px; height: 20px;">
                  </form>
                </div>
                <div th:each="ch : ${listaComentariosHotel}"  class="d-flex flex-row p-3" style="margin-left: 30px;" th:if="${ch.getComentario().getId()} == ${c.getId()}">
                    <img th:src="${ch.getHotel().getUrl_icono()}" width="40" height="40" class="rounded-circle mr-3">
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                          <span th:text="${ch.getHotel().getNombre()}" class="mr-2" style="margin-left: 10px;margin-right: 10px;"></span>
                        </div>
                        <small th:text="${ch.getFecha()}"></small>
                      </div>
                      <p th:text="${ch.getSentencia()}" class="text-justify comment-text mb-0" style="margin-left: 10px;"> </p>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
<br>
<br>

<div id="map"></div>
<input type="hidden" id="latitud" th:value="${latitud}"/>
<input type="hidden" id="longitud" th:value="${longitud}"/>
<script>
  function initMap() {
    var latitud2 = document.getElementById("latitud").value;
    var longitud2 = document.getElementById("longitud").value;
    console.log(latitud2);
    console.log(longitud2);
    var myLatlng = new google.maps.LatLng(latitud2,longitud2);
    var options = {
      zoom: 20,
      center: myLatlng
    };
    var map = new google.maps.Map(document.getElementById('map'), options);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
    });
  }
</script>

<script
        src="https://maps.googleapis.com/maps/api/js?&callback=initMap&v=weekly"
        defer
></script>


<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>