<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title th:each="h: ${hotelfinal}" th:text="${h.getNombre()}"></title>

  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
  <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
</head>

<body class="bg-white">
  <nav th:include="navMenu.html"></nav>
  <div th:each="h: ${hotelfinal}">
    <header class="bg-primary bg-gradient text-white" th:style="'background-image: linear-gradient(0deg, black, transparent), url(' + ${h.getUrl_imagen_general()} + '); background-size: cover; background-repeat: no-repeat; background-position: center center;'">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Hotel <b th:text="${h.getNombre()}"></b> </h1>
        <p class="lead"><text th:text="${h.getLocalidad()}"/> <text th:text="${h.getDireccion()}"/> </p>
        <svg th:each="i: ${#numbers.sequence(1, estrellas)}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
      </div>
    </header>
      <br>
      <br>
      <div class="row">

        <div class="col-md-8 mx-auto">
        <form action="/reservar" method="post" th:object="${objeto_integer}">
          <table>
            <thead>
              <tr>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="inputbox textmuted" type="date"></td>
                <td><input class="inputbox textmuted " type="date"></td>
              </tr>
            </tbody>
          </table>

          <table class="table bg-white rounded border table-striped table-dark">
            <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Huéspedes</th>
              <th scope="col">Disponibles</th>
              <th scope="col">Nº Habitaciones</th>
              <th scope="col">Régimen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a:${listaHabitaciones}">
              <td th:text="${a.getTipo_hab()}"></td>
              <td th:text="${a.getMax_cliente()}"></td>
              <td th:with="total=${a.getNum_hab() - a.getHab_ocupadas()}" th:text="${total}"></td>
              <td> <input type="number" th:field="*{num}"></td>
              <td><select th:field="*{id_regimen}">
                <option th:each="x: ${regimen}" th:text="${x.name()}" th:value="${x.name()}" ></option>
              </select></td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-primary form-control text-center">Reservar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>

<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>