<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atlantis - :(</title>
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold"> :( <img src="https://c.tenor.com/v4EhnlT6XoAAAAAC/rover-windows-xp.gif" style="height: 50px; width: auto;"></h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Debes iniciar sesión.</p>
    <p class="lead">
     Para entrar aquí, <b>debes iniciar sesión.</b> Regresa a la página principal.
    </p>
    <a href="/main" class="btn btn-primary">Inicio</a>
  </div>
</div>
</body>
</html>