<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Atlantis - Main</title>

    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
    <script type="text/javascript" th:src="@{/js/fecha.js}" ></script>

</head>

<body class="bg-white">
<nav th:include="navMenu.html"></nav>
<br>
<br>
<br>
<div th:include="carousel.html"></div>
<br>
<br>
<section class="booking-details p-0">
    <div class="container availability-form">
        <div class="row">
            <div class="col-lg-20 bg-white shadow p-4 rounded">
                <form th:action="@{/main}" th:object="${busqueda}" method="post">
                    <div class="row align-items-end">
                        <div class="col-lg-3 mb-3">
                            <label class="form-label" style="font-weight: 500;">Introduce destino</label>
                            <input type="text" class="form-control shadow-none" style="" placeholder="Introduce destino" th:field="*{hotelBuscar}">
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label class="form-label" style="font-weight: 500;">Fecha Entrada</label>
                            <input th:id="fecha_inicio" type="date" class="form-control shadow-none" value="2022-11-14" th:field="*{fechaInicial}" th:min="${fechamin}" required>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label class="form-label" style="font-weight: 500;">Fecha Salida</label>
                            <input  id="fecha_final" type="date" class="form-control shadow-none"  th:field="*{fechaFinal}" th:min="${fechamin}" th:onclick="cambiofecha()" required>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <label class="form-label" style="font-weight: 500;">Nº Huespedes</label>
                            <input type="number" min="1" max="7" class="form-control shadow-none" th:field="*{numHuespedes}" >
                        </div>
                        <div class="col-lg-1 mb-lg-3 mt-2">
                            <input class="icon btn btn-primary form-control text-center" type="submit" value="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container py-4 py-xl-5" style="margin-top: 29px;padding-top: 0px;">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2><span style="color: rgb(0, 0, 0);">Hoteles</span></h2>
            <p class="w-lg-50"><span style="color: rgb(0, 0, 0);">Descubre cual será tu próxima gran aventura gracias a nuestros destinos al azar.</span></p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div th:each="h: ${listaHotel}" class="col" th:id="${h.id}" th:object="${numero}">
            <div class="card"><img th:src="${h.url_imagen_general}" class="img-fluid card-img-top w-100 d-block fit-cover" style="height: 200px;">
                <div class="card-body p-3">
                    <p class="text-primary card-text mb-0" th:text="${h.getTipo_hotel()}"> </p>
                    <h4><a th:text="${h.nombre}" class="card-title" style="color: #1c1f23;text-decoration: none;" th:href="@{/hoteles/item?id={id}(id=${h.getId()})}"></a></h4>
                    <p class="card-text"> Este <b th:text="${h.getTipo_hotel()}"></b>, ubicado en <b th:text="${h.localidad}"></b>, tiene su número de telefono indicado como <b th:text="${h.telefono}"></b> </p>
                    <div class="d-flex"><img th:src="${h.url_icono}" class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50">
                        <div>
                            <p th:text="${h.direccion}" class="fw-bold mb-0"></p>
                            <p class="text-muted mb-0">Número de estrellas: <b th:text="${h.num_estrellas}"></b> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>