<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Confirmar Reserva</title>

  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
  <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
</head>
<body>
<nav th:include="navMenu.html"></nav>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-8 mx-auto">
      <table class="table table-bordered table-striped rounded">
        <thead>
        <tr>
          <th scope="col">Entrada</th>
          <th scope="col">Salida</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input class="inputbox textmuted" type="date" readonly></td>
          <td><input class="inputbox textmuted " type="date" readonly></td>
        </tr>
        </tbody>
      </table>

      <table class="table bg-white rounded border table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">Habitacion</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Regimen</th>
          <th scope="col">Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a:${listareserva}">
          <td th:text="${a.getHabitaciones().getTipo_hab()}"></td>
          <td th:text="${a.getCantHab()}"></td>
          <td th:text="${a.getPrecioHab()}"></td>
          <td th:text="${a.getRegimen().getCategoria()}"></td>
          <td th:text="${a.getRegimen().getPrecio()*a.getCantHab()}"></td>
        </tr>
        </tbody>
      </table>
    <table class="table bg-white rounded border table-striped table-dark">
      <thead>
      <tr>
        <th scope="col">Días: <a th:text="*{dias}"></a></th>
        <th scope="col">Total: <a th:text="*{total}"></a></th>
      </tr>
      </thead>
    </table>
    <form action="/pago" method="post">
      <input type="hidden" name="objeto_para_bbdd" th:value="${objeto}">
    <button class="btn btn-primary form-control text-center">Pagar: </button>
    </form>
  </div>
</div>

<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>