<!DOCTYPE html>
<html lang="es-us" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title th:each="h: ${hotelfinal}" th:text="${h.getNombre()}"></title>

  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
  <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/best-carousel-slide.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Carousel-Hero.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Hero-Carousel-images.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Pretty-Search-Form-.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}">
  <link rel="stylesheet" th:href="@{/assets/css/Search-Input-responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/barra.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-white">
<nav th:include="navMenu.html"></nav>
<br>
<br>
<br>
<br>
<form action="#" th:action="@{/registrohotel}" method="post" th:object="${hotel}" class="container px-4" >
  <div class="form-group row">
    <label for="nombre" class="col-4 col-form-label">Nombre:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-align-center"></i>
          </div>
        </div>
        <input id="nombre" name="nombre" placeholder="Nombre" type="text" th:field="*{nombre}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-4 col-form-label">País:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-globe"></i>
          </div>
        </div>
        <select th:field="*{pais}">
          <option th:each="p : ${listpais}" th:value="${p}" th:text="${p}" />
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Localidad:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-resistance"></i>
          </div>
        </div>
        <select th:field="*{localidad}">
          <option th:each="p : ${listlocalidad}" th:value="${p}" th:text="${p}"  />
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="direccion" class="col-4 col-form-label">Dirección:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-map-pin"></i>
          </div>
        </div>
        <input id="direccion" name="direccion" placeholder="Dirección" type="text" th:field="*{direccion}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="direccion" class="col-4 col-form-label">Fecha Apertura:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="far fa-building"></i>
          </div>
        </div>
<input class="inputbox textmuted" type="date" th:field="*{fecha_apertura}" th:min="${fechamin}">
  </div>
  </div>
  </div>

  <div class="form-group row">
    <label for="direccion" class="col-4 col-form-label">Fecha Cierre:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-building"></i>
          </div>
        </div>
        <input class="inputbox textmuted" type="date" th:field="*{fecha_cierre}" th:min="${fechamin}">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-4 col-form-label">Estrellas(Si no tiene, dejelo en 0):</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-trophy"></i>
          </div>
        </div>
        <select th:field="*{num_estrellas}">
          <option th:each="p : ${listestrellas}" th:value="${p}" th:text="${p}" />
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-4 col-form-label">Tipo Hotel:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-globe"></i>
          </div>
        </div>
        <select th:field="*{tipo_hotel}">
          <option th:each="p : ${listtiphotel}" th:value="${p}" th:text="${p}" />
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="telefono" class="col-4 col-form-label">Teléfono:</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-phone"></i>
          </div>
        </div>
        <input id="telefono" name="telefono" placeholder="Teléfono" type="text" th:field="*{telefono}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-4 col-form-label">Email</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <input id="email" name="email" placeholder="Email" type="text" th:field="*{email.email}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-4 col-form-label">Password</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <input id="password" name="password" placeholder="password" type="password" th:field="*{email.password}" class="form-control">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="icono" class="col-4 col-form-label">Icono</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-file-image-o"></i>
          </div>
        </div>
        <input id="icono" name="icono" placeholder="URL Icono" type="text" th:field="*{url_icono}"class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="banner" class="col-4 col-form-label">Banner</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-image"></i>
          </div>
        </div>
        <input id="banner" name="banner" placeholder="URL Banner" type="text" th:field="*{url_imagen_general}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="banner" class="col-4 col-form-label">Latitud</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-map-pin"></i>
          </div>
        </div>
        <input id="latitud" name="latitud" placeholder="Latitud hotel" type="text" th:field="*{latitud}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="banner" class="col-4 col-form-label">Longitud</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-map-pin"></i>
          </div>
        </div>
        <input id="longitud" name="longitud" placeholder="Longitud hotel" type="text" th:field="*{longitud}" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Confirmar</button>
    </div>
  </div>
</form>
<br>

<footer th:include="footer.html"></footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>