<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<div align="center">
    <h1>Hotel Registration</h1>
    <form action="#" th:action="@{/registerhotel}" method="post" th:object="${hotel}" >
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" /><br/>

        <label>Pais:</label>
        <select th:field="*{pais}">
            <option th:each="p : ${listpais}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>

        <label>Localidad:</label>
        <select th:field="*{localidad}">
            <option th:each="p : ${listlocalidad}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>

        <label>Direccion:</label>
        <input type="text" th:field="*{direccion}" /><br/>

        <label>Fecha apertura:</label>
        <input type="text" th:field="*{fecha_apertura}" /><br/>

        <label>Fecha cierre:</label>
        <input type="text" th:field="*{fecha_cierre}" /><br/>

        <label>Estrellas:</label>
        <select th:field="*{num_estrellas}">
            <option th:each="p : ${listestrellas}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>

        <label>Tipo Hotel:</label>
        <select th:field="*{tipo_hotel}">
            <option th:each="p : ${listtiphotel}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>


        <label>Telefono:</label>
        <input type="text" th:field="*{telefono}" /><br/>


        <label>E-mail:</label>
        <input type="text" th:field="*{email.email}"/><br/>


        <label>Password:</label>
        <input type="password" th:field="*{email.password}" /><br/>
        <button type="submit">Register</button>
    </form>

</div>
</body>
</html>